
<div class="row">
    <div class="col-lg-4">
        <form action="/admin/addproduct-submit" method="post">
            <fieldset>
                <label>Product Name</label>
                <input class="form-control" name="proName" />
            </fieldset>
            <br>
            <fieldset>
                <label>Product Price</label>
                <input class="form-control" name="proPrice" />
            </fieldset>
            <br>
            <div class="form-group">
                <label>Product Image </label>
                <input class="form-control" name="proImage" />
            </div>
            <br>
            <div class="form-group">
                <label>Product Description </label>
                <textarea rows="5" cols="16" class="form-control"  name="proDescription" ></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-secondary">Add Product</button>
        </form>
    </div>

    </div>